.faq {
  min-height: 90vh;
  align-items: center;
  padding: 5rem 10rem;
  display: block;
  justify-content: space-between;
  color: white;
  span {
    display: block;
  }
  h2 {
    padding-bottom: 2rem;
    font-weight: lighter;
  }
}
.faq-line {
  background: #cccccc;
  height: 0.2rem;
  margin: 2rem 0rem;
  width: 100%;
}
.question {
  padding: 3rem 0rem;
  cursor: pointer;
  svg {
    cursor: pointer;
  }
}
.answer {
  padding: 2rem 0rem;
  p {
    padding: 1rem 0rem;
  }
}
